@tailwind base;
@tailwind components;
@tailwind utilities;

/* customize scrollbar */
/* width */
::-webkit-scrollbar {
	width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #68686896;
	border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

@layer utilities {
	.flex-center {
		@apply flex justify-center items-center;
	}
	.full-screen {
		@apply w-screen h-screen;
	}
	.custom_container {
		@apply px-4 md:px-6 lg:px-8 xl:px-12 py-2 md:py-4 xl:py-6;
	}
}

.glassmorphism {
	background: rgba(255, 255, 255, 0.198);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
}

.glassmorphism2 {
	background: rgba(18, 17, 17, 0.25);
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
}

.cl-internal-11ttlho,
.cl-internal-180wb59,
.cl-internal-lqfubk {
	display: none;
}
